@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.card-container {
  @include card-container;
  grid-template-columns: auto;
  grid-template-areas:
    "textArea textArea textArea"
    "errorTextArea errorTextArea errorTextArea"
    "userImgArea ... btnArea";
  @media (min-width: $Computers) {
    grid-template-columns: fit-content(100%) auto fit-content(100%);
    grid-template-areas:
      "userImgArea textArea btnArea"
      "userImgArea errorTextArea errorTextArea";
    column-gap: 1rem;
    align-items: start;
  }
  .user-img {
    @include user-img;
    grid-area: userImgArea;
  }
  #text-area {
    grid-area: textArea;
    padding: 0.5rem 1rem;
    border: 2px solid;
    border-radius: 5px;
    border-color: $Very-light-gray;
    min-height: 4rem;
    font-weight: 400;
    resize: none;
    &:focus-visible {
      outline: none;
      border-color: $Light-gray;
    }
  }
  .error-text {
    grid-area: errorTextArea;
    color: $Soft-Red;
    font-weight: 600;
  }
  .btn {
    grid-area: btnArea;
    padding: 0.5rem 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    color: $White;
    background-color: $Moderate-blue;
    border-radius: 10px;
    max-width: 90px;
    justify-self: end;
    display: flex;
    justify-content: center;
    &:disabled {
      border: 2px solid;
      border-color: $Moderate-blue;
      background-color: $White;
      color: $Moderate-blue;
    }
  }
}
