@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.card-container {
  @include card-container;
  padding: 1.5rem 0;
  column-gap: 0.5rem;
  .title {
    grid-column: 2 / 12;
    font-size: 18px;
    color: $Dark-blue;
  }
  .message {
    grid-column: 2 / 11;
    line-height: 20px;
    color: $Grayish-Blue;
  }
  .btn {
    color: $White;
    font-family: "Rubik";
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 1rem 1.5rem;
  }
  .cancel-btn {
    grid-column: 2 / span 5;
    background-color: $Grayish-Blue;
    transition: all 0.5s;
    &:hover {
      color: $Grayish-Blue;
      background-color: $White;
      border: 1px solid $Grayish-Blue;
      cursor: pointer;
    }
  }
  .delete-btn {
    grid-column: 7 / span 5;
    background-color: $Soft-Red;
    transition: all 0.5s;
    &:hover {
      color: $Soft-Red;
      background-color: $White;
      border: 1px solid $Soft-Red;
      cursor: pointer;
    }
  }
}
