<form
  class="card-container"
  [formGroup]="formGroup"
  (ngSubmit)="conditionalSubmit()"
>
  <label for="text-area" hidden="true">Label for text-area input</label>
  <textarea
    #textArea
    id="text-area"
    name="comment-input"
    formControlName="inputValue"
    type="text"
    placeholder="Add a comment..."
    wrap="hard"
    (keydown.enter)="submitOnEnter($event)"
  ></textarea>
  @if (formGroup.controls["inputValue"].hasError("maxlength")) {
  <div class="error-text">
    <span>It must have less than 300 characters</span>
  </div>
  }@if (formGroup.controls["inputValue"].hasError("pattern")) {
  <div class="error-text">
    <span>It must contain at least one character that is not a whitespace</span>
  </div>
  }
  <div class="user-img">
    <img
      src="{{ currentUser()?.image?.webp }}"
      alt="Current user image"
    />
  </div>
  @if ( !formGroup.controls["inputValue"].hasError("required") &&
  !formGroup.controls["inputValue"].hasError("maxlength") &&
  !formGroup.controls["inputValue"].hasError("pattern")) { @if (editFlag()) {
  <button class="btn" type="submit">UPDATE</button>
  } @else if (replyFlag()) {
  <button class="btn" type="submit">REPLY</button>
  } @else {
  <button class="btn" type="submit">SEND</button>
  } } @else { @if (editFlag()) {
  <button class="btn" type="submit" disabled="true">UPDATE</button>
  } @else if (replyFlag()) {
  <button class="btn" type="submit" disabled="true">REPLY</button>
  } @else {
  <button class="btn" type="submit" disabled="true">SEND</button>
  } }
</form>
