<div class="card-container">
  <div class="user-img">
    <img src="{{ comment().user.image.webp }}" alt="User image" />
  </div>
  <strong class="user-name">{{ comment().user.username }}</strong>
  @if (currentUser()?.currentUser?.username === comment().user.username) {
  <p class="label">you</p>
  } @if(comment().createdAt !== ""){
  <p class="publication-time">{{ comment().createdAt }}</p>
  }
  <p class="publication-text">
    <span class="reply-user-name">
      {{ comment().replyingTo }}
    </span>
    {{ comment().content }}
  </p>
  <div class="likes-container">
    <img
      class="plus-btn likes-btn"
      src="../assets/images/icon-plus.svg"
      alt="Button to give a like"
    />
    <span class="likes-number">{{ comment().score }}</span>
    <img
      class="minus-btn likes-btn"
      src="../assets/images/icon-minus.svg"
      alt="Button to take a like"
    />
  </div>
  @if (currentUser()?.currentUser?.username === comment().user.username) {
  <img
    class="delete-icon"
    src="../assets/images/icon-delete.svg"
    alt="delete button"
    (click)="deleteComment(comment().id)"
  />
  <span class="delete-btn" (click)="deleteComment(comment().id)">Delete</span>
  <img
    class="edit-icon"
    src="../assets/images/icon-edit.svg"
    alt="edit button"
  />
  <span class="edit-btn">Edit</span>
  } @else {
  <img
    class="reply-icon"
    src="../assets/images/icon-reply.svg"
    alt="reply button"
    (click)="setStatesToReply(comment().user.username)"
  />
  <span class="reply-btn" (click)="setStatesToReply(comment().user.username)"
    >Reply</span
  >
  }
</div>
