<div class="card-container">
  <div class="user-img">
    <img src="../assets/images/avatars/image-amyrobson.png" alt="User image" />
  </div>
  <strong class="user-name">user-name</strong>
  <p class="publication-time">publication-time</p>
  <p class="publication-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nam
    quis suscipit! Minima sed doloribus autem animi nisi alias eveniet! Cumque
    reprehenderit doloribus, qui saepe ut ad laborum ab voluptatem!
  </p>
  <div class="likes-container">
    <img
      class="plus-btn likes-btn"
      src="../assets/images/icon-plus.svg"
      alt="Button to give a like"
    />
    <span class="likes-number">5</span>
    <img
      class="minus-btn likes-btn"
      src="../assets/images/icon-minus.svg"
      alt="Button to take a like"
    />
  </div>
  <img
    class="reply-icon"
    src="../assets/images/icon-reply.svg"
    alt="Reply button"
  />
  <span class="reply-btn">Reply</span>
</div>
