@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.card-container {
  @include card-container;
  .user-img {
    @include user-img;
  }
  .user-name {
    text-wrap: nowrap;
    grid-column: 3 / span 2;
  }
  .label {
    grid-column: 6 / span 1;
    margin-left: 1.5rem;
    padding: 2px 6px;
    background-color: $Moderate-blue;
    color: $White;
    font-size: 11px;
    border-radius: 2px;
  }
  .publication-time {
    text-wrap: nowrap;
    color: $Grayish-Blue;
    grid-column: 8 / span 3;
  }
  .publication-text {
    grid-column: 1 / 13;
    color: $Grayish-Blue;
    line-height: 20px;
    .reply-user-name {
      color: $Moderate-blue;
      font-weight: 600;
    }
  }
  .likes-container {
    grid-column: 1 / 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $Very-light-gray;
    border-radius: 8px;
    .likes-btn {
      width: 30px;
      height: 30px;
      border: 2px solid $Very-light-gray;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .likes-number {
      color: $Moderate-blue;
      font-weight: 600;
    }
    .btn-selected {
      border: 2px solid $Moderate-blue;
      border-radius: 8px;
    }
  }
  .delete-icon {
    grid-column: 8 / 9;
    img {
      display: block;
    }
  }
  .delete-btn {
    color: $Soft-Red;
    font-weight: 600;
  }
  .edit-icon {
    grid-column: 11 / 12;
    img {
      display: block;
    }
  }
  .edit-btn {
    color: $Moderate-blue;
    font-weight: 600;
  }
  .reply-icon {
    grid-column: 11 / 12;
    img {
      display: block;
    }
  }
  .reply-btn {
    color: $Moderate-blue;
    font-weight: 600;
  }
}
