@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.card-container {
  @include card-container;
  grid-template-columns: auto;
  grid-template-areas:
    "headerArea headerArea headerArea"
    "textArea textArea textArea"
    "scoreArea ... crudBtnArea";
  @media (min-width: $Tablet) {
    grid-template-areas:
      "scoreArea headerArea crudBtnArea"
      "scoreArea textArea textArea";
    grid-template-columns: fit-content(100%);
  }
  .header-container {
    grid-area: headerArea;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .user-img {
      @include user-img;
    }
    .user-name {
      text-wrap: nowrap;
    }
    .label {
      padding: 2px 6px;
      background-color: $Moderate-blue;
      color: $White;
      font-size: 11px;
      border-radius: 2px;
    }
    .publication-time {
      text-wrap: nowrap;
      color: $Grayish-Blue;
    }
  }
  .publication-text {
    grid-area: textArea;
    color: $Grayish-Blue;
    line-height: 20px;
    .reply-user-name {
      color: $Moderate-blue;
      font-weight: 600;
    }
  }
  .score-container {
    grid-area: scoreArea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $Very-light-gray;
    border-radius: 8px;
    max-width: 90px;
    @media (min-width: $Tablet) {
      flex-direction: column;
      max-width: 34px;
      margin-right: 1rem;
    }
    .score-btn {
      width: 30px;
      height: 30px;
      border: 2px solid $Very-light-gray;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
    }
    .score {
      color: $Moderate-blue;
      font-weight: 600;
      padding: 0 0.5rem;
    }
    .btn-selected {
      border: 2px solid $Moderate-blue;
      border-radius: 8px;
    }
  }

  .crud-btn-container {
    grid-area: crudBtnArea;
    justify-self: end;
    display: flex;
    gap: 0.5rem;
    .crud-btn {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      .img {
        @include img;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .delete-btn {
      color: $Soft-Red;
      font-weight: 600;
    }
    .edit-btn {
      color: $Moderate-blue;
      font-weight: 600;
    }
    .reply-btn {
      color: $Moderate-blue;
      font-weight: 600;
    }
  }
}
