<div class="card-container">
  <div class="header-container">
    <div class="user-img">
      <img src="{{ comment().user.image.webp }}" alt="User image" />
    </div>
    <strong class="user-name">{{ comment().user.username }}</strong>
    @if (currentUser()?.currentUser?.username === comment().user.username) {
    <p class="label">you</p>
    }
    <p class="publication-time">{{ comment().createdAt | customDate }}</p>
  </div>

  <p class="publication-text">
    <span class="reply-user-name">
      {{ comment().replyingTo }}
    </span>
    {{ comment().content }}
  </p>
  <div class="score-container">
    <div #plusBtn class="plus-btn score-btn" (click)="manageScore('add')">
      <img src="../assets/images/icon-plus.svg" alt="Button to give a like" />
    </div>
    <span class="score">{{ comment().score }}</span>
    <div #minusBtn class="minus-btn score-btn" (click)="manageScore('remove')">
      <img src="../assets/images/icon-minus.svg" alt="Button to take a like" />
    </div>
  </div>
  @if (currentUser()?.currentUser?.username === comment().user.username) {
  <div class="crud-btn-container">
    <div class="crud-btn" (click)="deleteComment(comment().id)">
      <div class="img">
        <img
          class="delete-icon"
          src="../assets/images/icon-delete.svg"
          alt="delete button"
        />
      </div>
      <span class="delete-btn">Delete</span>
    </div>
    <div class="crud-btn" (click)="setStatesToEdit()">
      <div class="img">
        <img
          class="edit-icon"
          src="../assets/images/icon-edit.svg"
          alt="edit button"
        />
      </div>
      <span class="edit-btn">Edit</span>
    </div>
  </div>
  } @else {
  <div class="crud-btn-container">
    <div class="crud-btn" (click)="setStatesToReply(comment().user.username)">
      <div class="img">
        <img
          class="reply-icon"
          src="../assets/images/icon-reply.svg"
          alt="reply button"
        />
      </div>
      <span class="reply-btn">Reply</span>
    </div>
  </div>
  }
</div>
