@import "../styles/variables.scss";

.border {
  border: solid 1px black;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0.5rem;
  gap: 1rem;
  max-width: 350px;
  margin: auto;
  align-items: center;

  .replys-container {
    display: grid;
    grid-template-columns: 0.5fr repeat(11, 1fr);
    grid-auto-rows: 1fr;

    row-gap: 1rem;
    .line {
      border-left: solid 2px $Light-gray;
      grid-row: 1 / -1;
    }
    .replies-cards {
      grid-column: 2 / -1;
      display: grid;
      gap: 1rem;
    }
  }
}
