<div class="global-container">
  <div class="flex-container">
    <!-- Acá va el @for para los comentarios -->
    @for (item of publishedCommnets(); track $index) {
    <app-comments-card [comment]="item"></app-comments-card>
    <!-- Esta es la parte para las respuestas -->
    @if (item.replies.length > 0) {
    <!-- Acá va el @for para las respuestas -->
    <div class="replys-container">
      <div class="line"></div>
      <div class="replies-cards">
        @for (replyItem of item.replies; track $index) {
        <app-comments-card [comment]="replyItem"></app-comments-card>
        }
      </div>
    </div>
    } }
    <app-form-card></app-form-card>
  </div>
</div>
